@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
:root{
    --white: #F9F9F9;
    --black: #181818;
    --darkgrey: #868585;
    --lightgrey: #EBE9EA
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Montserrat, serif;
    font-weight: 600;
}

header{
    height: 120px;
    width: 100%;
}

#discount-header,
#pagetitle-header,
#left-main-page,
#product-image-view,
.preview-box,
#buy-buttons,
#buy-now,
#add-to-cart,
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#discount-header{
    height: 50%;
    background: var(--black);
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
}

#pagetitle-header{
    height: 50%;
    color: var(--black);
    font-size: 24px;
}

#logo-header{
    filter: brightness(0);
    margin-right: 20px;
    width: 40px;
    height: 40px;
}

main{
    width: 100%;
    margin-top: 100px;
    display: flex;
    margin-left: 60px;
    flex-direction: row;
}

#left-main-page{
    flex-direction: column;
}

#product-image-view{
    margin-left: 60px;
    flex-direction: row;
}

#product-image-view img{
    max-width: 40em;
    max-height: 25em;
}
#image-container{
    display: flex;
    flex-direction: row;
}

#product-image-preview-side{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.preview-box{
    width: 6rem;
    height: 6rem;
    background: var(--lightgrey);
    border-radius: 10px;
    cursor: pointer;
}

.preview-box:not(:first-child){
    margin-top: 20px;
}

.preview-box img{
    transform: scale(0.5);
    overflow: hidden;
}

.product-name{
    margin: 20px 0 0 250px;
}

.active{
    border: #9E9E9E solid 3px;
    border-radius: 10px;
}

#price{
    font-size: 50px;
    color: var(--black);
}

#price-discount{
    font-size: 15px;
    font-weight: 400;
    color: var(--darkgrey);
}

#buy-content{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 160px;
}

#stars{
    font-weight: 400;
    color: var(--darkgrey);
}

#cep-input{
    font-weight: 400;
    margin-top: 10px;
}

#cep-input input{
    width: 120px;
}

#buy-buttons{
    width: inherit;
    flex-direction: column;
    margin-top: 40px;
    text-transform: uppercase;
}

#buy-now{
    width: 300px;
    height: 50px;
    transform: skewX(5deg);
    cursor: pointer;
    color: var(--white);
    background: var(--black);
}

#add-to-cart{
    width: 300px;
    height: 50px;
    margin-top: 20px;
    transform: skewX(-5deg);
    border: var(--black) solid 2px;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 60px;
    background: var(--black);
    margin-top: 20px;
    color: var(--white);
    font-weight: 500;
    position: fixed;
    bottom: 0;
}

@media only screen and (max-width: 480px){
    main{
        flex-direction: column;
        align-items: center;
        height: 80vh;
        justify-content: center;
    }
    #product-image-view{
        margin-left: 0;
    }

    #left-main-page{
        width: 100%;
    }
    #image-container{
        flex-direction: column-reverse;
    }
    #product-image-preview-side{
        flex-direction: row;
    }
    .preview-box:not(:first-child){
        margin-left: 120px;
        margin-top: unset;
    }
    #buy-content{
        width: 100%;
    }
    .product-name{
        margin-left: 0;
    }
    #buy-content{
        margin-left: 0;
        align-items: center;
    }

    .active{
        border: #9E9E9E solid 1px;
    }
    .preview-box{
        transform: scale(2);
    }
    #product-image-preview-side{
        width: 100%;
        margin-top: 200px;
    }
    .product-name{
        margin-top: 150px;
        font-size: 50px;
    }
}